[submodule "Paper/TII_operator_attention"]
	path = Paper/TII_operator_attention
	url = git@github.com:liq22/TII_operator_attention.git
[submodule "Paper/Paper_fuzzy_XFD"]
	path = Paper/Paper_fuzzy_XFD
	url = https://github.com/liq22/Paper_fuzzy_XFD.git
[submodule "Paper/MOE_explainable"]
	path = Paper/MOE_explainable
	url = https://github.com/liq22/MOE_explainable.git
[submodule "Paper/1D-2D_fusion_explainable"]
	path = Paper/1D-2D_fusion_explainable
	url = https://github.com/liq22/1D-2D_fusion_explainable.git
[submodule "Paper/Explainable_FD_Toolkit"]
	path = Paper/Explainable_FD_Toolkit
	url = https://github.com/liq22/Explainable_FD_Toolkit.git
[submodule "Paper/LLM_Explainable_FD_Toolkit"]
	path = Paper/LLM_Explainable_FD_Toolkit
	url = https://github.com/liq22/LLM_Explainable_FD_Toolkit.git
[submodule "Paper/Neuralsymbolic_theory"]
	path = Paper/Neuralsymbolic_theory
	url = https://github.com/liq22/Neuralsymbolic_theory.git